<div class="container">
    {{#if en}}
        <div class="row">
            <h2>
                About The Interview Helper | Job Interview Questions System </h2>
            <p>
                This blog contains most common interview questions from different fields,.net framework, ABAP interview
                Questions, ASP asp net interview questions ,ASP.net, ASP.net interview questions, Basic .net Framework,
                C interview Questions, C language, C++, C++ interview questions, database interview questions, employer
                interview questions, Interview , Interview helper, Interview Questions, Java Interview Questions, java
                job interview questions, job interview questions and answers, Jobs Negotiation, PHP, PHP interview
                Questions, Points to remember, Resume, Resume creator, Resume Helper, Resume Preparation Guidelines,
                salary, Salary Negotiation, sap interview questions </p>
        </div>
    {{/if}}
    {{#if ru}}
        <div class="row">
            <h2>О нас</h2>
            <p>
                Этот блог содержит наиболее распространенные вопросы на собеседовании из разных областей, .net
                framework, интервью ABAP, вопросы собеседования ASP, вопросы собеседования ASP.net, ASP.net, Basic .net
                Framework, вопросы собеседования C, язык C, C ++, C ++ интервью, вопросы интервью с собеседником,
                интервью с собеседниками, вопросы интервью, вопросы по Java, вопросы интервью с собеседованием, вопросы
                собеседования и ответы на вопросы, вакансии. Переговоры, PHP, интервью с PHP Вопросы, замечания, резюме,
                резюме создатель, помощник по возобновлению, рекомендации по подготовке резюме, зарплата, переговоры о
                зарплате, вопросы интервью соседа </p>
        </div>
    {{/if}}
</div>
