<style type="text/css">

    html, body {
        height: 100%;
        background: #fff;
        overflow: hidden;
    }

    .dummy {
        visibility: hidden;
    }
</style>


<div class="center-vertical">
    <div class="center-content row">


        <div class="col-md-6 center-margin" style="margin-top:150px;">

            <form name="myform" novalidate id="loginForm">
                <div class="content-box wow bounceInDown modal-content animated"
                     style="visibility: visible; animation-name: bounceInDown;">
                    <h3 class="content-box-header content-box-header-alt bg-default">
                        <span class="icon-separator">
                            <i class="glyph-icon icon-cog"></i>
                        </span>
                        <span class="header-wrapper">
                            InterviewHelper Admin
                            <small>Login to your account</small>
                        </span>

                    </h3>
                    <div class="content-box-wrapper">


                        <div class="form-group text-center ">
                            <label for="email" class="has-error" ng-show="loginError">Invalid e-mail or password</label>
                            <label for="" class="dummy">dummy</label>
                            <div class="input-group">
                                <input type="text" name="email" ng-keyup="loginError=false;" class="form-control"
                                       ng-model="user.login" placeholder="Login">
                                <span class="input-group-addon bg-blue">
                                    <i class="glyph-icon icon-envelope-o"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" ng-keyup="loginError=false;"
                                       ng-model="user.password" placeholder="Password">
                                <span class="input-group-addon bg-blue">
                                    <i class="glyph-icon icon-unlock-alt"></i>
                                </span>
                            </div>
                        </div>

                        <button class="btn btn-success btn-block" data-ng-click="login()">Sign in</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>




