<div class="row">

    <div id="page-title">
        <div class="col-xs-6">
            <h2 class="pull-left">Support messages </h2>

        </div>
        <div class="col-xs-3">
            <span>Showing {[{currentPage && (((currentPage-1)*itemsPerPage)+' - '+(currentPage)*itemsPerPage)}]} of {[{totalItems}]}</span>
        </div>
        <div class="col-xs-3">
            <div class="form-group pull-right">


                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" ng-model="searchFish" placeholder="Search">
                </div>

            </div>
        </div>

    </div>


    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th ng-click="sortType = 'id'; sortReverse = !sortReverse">
                        ID
                        <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th>Email</th>

                    <th ng-click="sortType = 'login'; sortReverse = !sortReverse">
                        Message
                        <span ng-show="sortType == 'login' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'login' && sortReverse" class="fa fa-caret-up"></span>
                    </th>

                    <th>Created At</th>


                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td>{[{item._id }]}</td>
                    <td>{[{item.email }]}</td>

                    <td>{[{item.message && item.message.substr(0,50) }]}</td>

                    <td>{[{item.createdAt | date:"MM/dd/yyyy 'at' h:mma"}]}</td>

                    <td>
                        <button type="button" ng-click="editItem(item)" class="btn btn-success btn-circle">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>

                        <button type="button" class="btn btn-danger ">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>


                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12">
        <uib-pagination rotate="false" max-size="10" total-items="totalItems" force-ellipses="true"
                        ng-model="currentPage"></uib-pagination>

    </div>
    <!-- /.col-lg-12 -->
</div>
